{% extends 'events/base.html' %}

{% block content %}

    <h1> Events </h1>
    </br>
<ul>

{% for event in event_list %}
<div class="card">
    <div class="card-header">
      {{ event }}
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

    <ul>
    <li>Date: {{ event.event_date }}</li> 
    <li>Venue: {{ event.venue }}</li>   
    <li>Venue Website: {{ event.venue.web }}</li>   
    <li>Manager: {{ event.manager }}</li>   
    <li>Description: {{ event.description }}</li>      
    </ul>

    <li>Attendees: </br>
    {% for user in event.attendees.all %}
        
        {{ user }} </br>
    
    {% endfor %}
    </li>
    </ul>
    </br>
{% endfor %}

{% endblock %}